/* post_form.css */
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
textarea,
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    resize: none;
}

textarea {
    height: 200px;
}

.select-field {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.button-group button[type="submit"],
.button-group .undoing {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.button-group button[type="submit"]:hover {
    background-color: #28a745;
}

.button-group .undoing {
    background-color: #fff;
    color: #007bff;
}

.button-group .undoing:hover {
    background-color: #28a745;
    color: #fff;
}

.error-message {
    color: red;
    font-size: 14px;
}
